*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.container{
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
}
h2{
  margin-bottom: 10px;
}

.content{
  border: 3px solid skyblue;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  min-height: 500px;
  min-width: 800px;
}
.display{
  margin: 10px;
}

input{
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
}
textarea{
  border-radius: 10px;
  font-size: large;
}
th, tr, td{
  border-radius: 5px;
  padding: 3px;

}
.dates, .action{
  border: 1px solid skyblue;
}
.dates{
  width: 100px;
}
.action{
  width: 600px;
}

th{
  font-size: larger;
}
button{
  height: 30px;
  width: 100px;
  border-radius: 10px;
}
button:hover{
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.delete{
  background-color: red;
}
.save{
  background-color: green;
}
table{
  min-width: 700px;
  height: auto;
  border-top: 2px skyblue dotted;
}